<div class="mb-10 fv-row fv-plugins-icon-container" data-kt-password-meter="true">
    <label class="form-label mb-3">
        {{ form.vars.label | capitalize }}
        {% if form.vars.required == "required" %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>
    <div class="position-relative mb-3">
        {{ form_widget(form, {'attr': {'class': "form-control form-control-lg form-control-solid" ~ (not form.vars.valid ? 'is-invalid' : ''), 'placeholder': form.vars.label | trans([], 'form') | capitalize }}) }}
        <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
            <i class="bi bi-eye-slash fs-2"></i>
            <i class="bi bi-eye fs-2 d-none"></i>
        </span>
    </div>
    {% if meter is defined %}
        {% if meter == true %}
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
            <div class="text-muted">Use 8 or more characters with a mix of letters, numbers & symbols.</div>
        {% endif %}
    {% endif %}
    {% if form.vars.help %}<div class="form-text">{{ form.vars.help | capitalize }}</div>{% endif %}
    <div class="fv-plugins-message-container invalid-feedback"></div>
    {% if not form.vars.valid %}
        {% for e in form.vars.errors %}
            <span class="form-text text-danger">{{ e.message }}</span>
        {% endfor %}
    {% endif %}
</div>