{% extends "FrontOffice/User/edit._base.html.twig" %}

{% block title %}{{ user.lastname }} {{ user.firstname }} - {{ parent() }}{% endblock %}

{% block topbar_left %}
    <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_header_nav'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
        <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">User management</h1>
        <span class="h-20px border-gray-200 border-start mx-4"></span>
        <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
            {{ breadcrumb(app.request, {'user.fullname': user.fullname}) }}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1>Delete account</h1>
{% endblock %}